{% extends 'mobiles/base.html' %}
{% load static %}
{% block title %}All-{{data}}-Phone{% endblock title %}
{% block main-content %}
<style>
    .image-resize {
        height: 150px;
        object-fit: cover;
        object-position: center center;
        margin-top: 15;
    }
</style>

<section class="product">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-log-5 m-auto text-center">
                <img class="img-responsive img-fluid image-resize" src="{{mobile.mobile_photo.url}}">
                <h6 style="color:rgb(6, 6, 39)">Model Name : {{mobile.mobile_name}}</h6>
                <h6 style="color:rgb(6, 6, 39)">Release Date : {{mobile.release_date}}</h6>
                <h6 style="color:rgb(6, 6, 39)">Display Size : {{mobile.display_size}}</h6>
            </div>
        </div>
        <hr>

        {% if back_pannel_cover %}
        <div class="col-log-5 m-auto text-center">
            <h4>Back Pannel Covers</h4>
        </div>
        <hr>
        <div class="row">
            {% for a in back_pannel_cover %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' a.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{a.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{a.title}}</small>
                        <h6 style="color:red;">Rs.{{a.price}}</h6>
                        <small>{{a.color}}</small>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if bettry_connector %}
        <div class="col-log-5 m-auto text-center">
            <h4> Bettry Connectors</h4>
        </div>
        <hr>
        <div class="row">
            {% for b in bettry_connector %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' b.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{b.accesories_photo.url}}">
                        </a>
                    </div>
                    <small style="color: rgb(6, 6, 39);">{{b.title}}</small>
                    <h6 style="color: red;">Rs.{{b.price}}</h6>
                    <small>{{b.color}}</small>
                </div>

            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if bettries %}
        <div class="col-log-5 m-auto text-center">
            <h4>Bettries</h4>
        </div>
        <hr>
        <div class="row">
            {% for c in bettries %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' c.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{c.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{c.title}}</small>
                        <h6 style="color: red">Rs.{{c.price}}</h6>
                        <small>{{c.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if camera_lense %}
        <div class="col-log-5 m-auto text-center">
            <h4>Camera Lense</h4>
        </div>
        <hr>
        <div class="row">
            {% for d in camera_lense %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' d.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{d.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{d.title}}</small>
                        <h6 style="color: red">Rs.{{d.price}}</h6>
                        <small>{{d.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if charging_conctr %}
        <div class="col-log-5 m-auto text-center">
            <h4>Charging Connectors</h4>
        </div>
        <hr>
        <div class="row">
            {% for e in charging_conctr %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' e.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{e.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{e.title}}</small>
                        <h6 style="color: red;">Rs.{{e.price}}</h6>
                        <small>{{e.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if charging_pcb %}
        <div class="col-log-5 m-auto text-center">
            <h4>Charging Pcb </h4>
        </div>
        <hr>
        <div class="row">
            {% for f in charging_pcb %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' f.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{f.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{f.title}}</small>
                        <h6 style="color: red;">Rs.{{f.price}}</h6>
                        <small>{{f.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if ear_spker %}
        <div class="col-log-5 m-auto text-center">
            <h4> Ear Speaker </h4>
        </div>
        <hr>
        <div class="row">
            {% for g in ear_spker %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' g.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{g.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{d.title}}</small>
                        <h6 style="color: red;">Rs.{{d.price}}</h6>
                        <small>{{d.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if fingpr_sensor_flx_cable %}
        <div class="col-log-5 m-auto text-center">
            <h4> Fingerprint Sensor Flex Cable </h4>
        </div>
        <hr>
        <div class="row">
            {% for h in fingpr_sensor_flx_cable %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' h.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{h.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{h.title}}</small>
                        <h6 style="color: red;">Rs.{{h.price}}</h6>
                        <small>{{h.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if finger_snsr_btn_plsatic %}
        <div class="col-log-5 m-auto text-center">
            <h4> Fingerprint Sensor Button Plastic </h4>
        </div>
        <hr>
        <div class="row">
            {% for i in finger_snsr_btn_plsatic %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' i.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{i.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{i.title}}</small>
                        <h6 style="color: red;">Rs.{{i.price}}</h6>
                        <small>{{i.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if fullbodY_hosing %}
        <div class="col-log-5 m-auto text-center">
            <h4>Fullbody Housing </h4>
        </div>
        <hr>
        <div class="row">
            {% for j in fullbodY_hosing %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' j.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{j.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{j.title}}</small>
                        <h6 style="color: red;">Rs.{{j.price}}</h6>
                        <small>{{j.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if handsfre_jack %}
        <div class="col-log-5 m-auto text-center">
            <h4> Handsfre Jack </h4>
        </div>
        <hr>
        <div class="row">
            {% for k in handsfre_jack %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' k.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{k.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{k.title}}</small>
                        <h6 class="fw-bold" style="color: red;">Rs.{{k.price}}</h6>
                        <small class="text-secondary">{{k.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if lcd_conectr %}
        <div class="col-log-5 m-auto text-center">
            <h4>Lcd Connectors </h4>
        </div>
        <hr>
        <div class="row">
            {% for l in lcd_conectr %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' l.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{l.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{l.title}}</small>
                        <h6 style="color: red;">Rs.{{l.price}}</h6>
                        <small>{{l.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if lcd_flx %}
        <div class="col-log-5 m-auto text-center">
            <h4>Lcd Flex </h4>
        </div>
        <hr>
        <div class="row">
            {% for m in lcd_flx %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' m.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{m.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{m.title}}</small>
                        <h6 style="color: red;">Rs.{{m.price}}</h6>
                        <small>{{m.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if lcd_frm_midl_chasis %}
        <div class="col-log-5 m-auto text-center">
            <h4>Lcd Frame Middle Chassis </h4>
        </div>
        <hr>
        <div class="row">
            {% for n in lcd_frm_midl_chasis %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' n.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{n.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{n.title}}</small>
                        <h6 style="color: red;">Rs.{{n.price}}</h6>
                        <small>{{n.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if loud_spkr_ringr %}
        <div class="col-log-5 m-auto text-center">
            <h4>Loud Speaker Ringer </h4>
        </div>
        <hr>
        <div class="row">
            {% for o in loud_spkr_ringr %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' o.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{o.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{o.title}}</small>
                        <h4 style="color:red;">Rs.{{o.price}}</h6>
                            <small>{{o.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if main_brd_flx_cbl %}
        <div class="col-log-5 m-auto text-center">
            <h4>Main Board Flex Cable</h4>
        </div>
        <hr>
        <div class="row">
            {% for p in main_brd_flx_cbl %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' p.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{p.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{p.title}}</small>
                        <h6 style="color: red;">Rs.{{p.price}}</h6>
                        <small>{{p.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if mmc_conectr %}
        <div class="col-log-5 m-auto text-center">
            <h4>Mmc Connectors</h4>
        </div>
        <hr>
        <div class="row">
            {% for q in mmc_conectr %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' q.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{q.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{q.title}}</small>
                        <h6 style="color: red;">Rs.{{q.price}}</h6>
                        <small>{{q.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if powr_btn_flx_cable %}
        <div class="col-log-5 m-auto text-center">
            <h4>Power Button Flex Cable</h4>
        </div>
        <hr>
        <div class="row">
            {% for r in powr_btn_flx_cable %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' r.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{r.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{r.title}}</small>
                        <h4 style="color:red;">Rs.{{r.price}}</h6>
                            <small>{{r.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if volume_btn_flx_cable %}
        <div class="col-log-5 m-auto text-center">
            <h4>Volume Button Flex Cable</h4>
        </div>
        <hr>
        <div class="row">
            {% for s in volume_btn_flx_cable %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' s.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{s.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{s.title}}</small>
                        <h6 style="color: red;">Rs.{{s.price}}</h6>
                        <small>{{s.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if power_btn_otr_plstic %}
        <div class="col-log-5 m-auto text-center">
            <h4>Power Button Outer Plastic</h4>
        </div>
        <hr>
        <div class="row">
            {% for t in power_btn_otr_plstic %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' t.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{t.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{t.title}}</small>
                        <h6 style="color: red;">Rs.{{t.price}}</h6>
                        <small>{{t.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if back_camera %}
        <div class="col-log-5 m-auto text-center">
            <h4>Back Camera</h4>
        </div>
        <hr>
        <div class="row">
            {% for u in back_camera %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' u.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{u.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{u.title}}</small>
                        <h6 style="color: red;">Rs.{{u.price}}</h6>
                        <small>{{u.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if frnt_cmr_slfi %}
        <div class="col-log-5 m-auto text-center">
            <h4>Front Camera Selfie</h4>
        </div>
        <hr>
        <div class="row">
            {% for v in frnt_cmr_slfi %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' v.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{v.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{v.title}}</small>
                        <h6 style="color: red;">Rs.{{v.price}}</h6>
                        <small>{{v.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if front_mn_glass %}
        <div class="col-log-5 m-auto text-center">
            <h4>Front Main Glass</h4>
        </div>
        <hr>
        <div class="row">
            {% for w in front_mn_glass %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' w.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{w.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{w.title}}</small>
                        <h4 style="color:red;">Rs.{{w.price}}</h6>
                            <small>{{w.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if front_mn_touch %}
        <div class="col-log-5 m-auto text-center">
            <h4>Front Main Touch</h4>
        </div>
        <hr>
        <div class="row">
            {% for x in front_mn_touch %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' x.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{x.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{x.title}}</small>
                        <h6 style="color: red;">Rs.{{x.price}}</h6>
                        <small>{{x.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if simcrd_holdr_try %}
        <div class="col-log-5 m-auto text-center">
            <h4>Simcard Holder Tray</h4>
        </div>
        <hr>
        <div class="row">
            {% for y in simcrd_holdr_try %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' y.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{y.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{y.title}}</small>
                        <h6 style="color: red;">Rs.{{y.price}}</h6>
                        <small>{{y.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if sim_conctr %}
        <div class="col-log-5 m-auto text-center">
            <h4>Sim Connector</h4>
        </div>
        <hr>
        <div class="row">
            {% for z in sim_conctr %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' z.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{z.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{z.title}}</small>
                        <h6 style="color: red;">Rs.{{z.price}}</h6>
                        <small>{{z.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if spker_jali %}
        <div class="col-log-5 m-auto text-center">
            <h4>Speaker Jaali</h4>
        </div>
        <hr>
        <div class="row">
            {% for sj in spker_jali %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' sj.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{sj.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{sj.title}}</small>
                        <h4 style="color:red;">Rs.{{sj.price}}</h6>
                            <small>{{sj.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if vibrators %}
        <div class="col-log-5 m-auto text-center">
            <h4>Vibrators</h4>
        </div>
        <hr>
        <div class="row">
            {% for vs in vibrators %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' vs.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{vs.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{vs.title}}</small>
                        <h6 style="color: red;">Rs.{{vs.price}}</h6>
                        <small>{{vs.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if volume_btn_plstc %}
        <div class="col-log-5 m-auto text-center">
            <h4>Volume Button Plastic</h4>
        </div>
        <hr>
        <div class="row">
            {% for vps in volume_btn_plstc %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' vps.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{vps.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{vps.title}}</small>
                        <h6 style="color: red;">Rs.{{vps.price}}</h6>
                        <small>{{vps.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if antena_ntwrk_wire %}
        <div class="col-log-5 m-auto text-center">
            <h4>Antena Network Wire</h4>
        </div>
        <hr>
        <div class="row">
            {% for anw in antena_ntwrk_wire %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' anw.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{anw.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{anw.title}}</small>
                        <h6 style="color: red;">Rs.{{anw.price}}</h6>
                        <small>{{anw.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}

        {% if flip_cover %}
        <div class="col-log-5 m-auto text-center">
            <h4>Flip Cover</h4>
        </div>
        <hr>
        <div class="row">
            {% for fp in flip_cover %}
            <div class="col-lg-3 col-6 col-md-6 col-xl-2 text-center mb-2">
                <div class="card border-0">
                    <div class="card-body">
                        <a href="{% url 'product-detail' fp.id %}"><img class="img-responsive img-fluid image-resize"
                                src="{{fp.accesories_photo.url}}">
                        </a>
                        <small style="color: rgb(6, 6, 39);">{{fp.title}}</small>
                        <h6 style="color: red;">Rs.{{fp.price}}</h6>
                        <small>{{fp.color}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}
    </div>
</section>
{% endblock main-content %}