asgiref==3.5.0
autopep8==1.6.0
black==22.3.0
certifi==2021.10.8
charset-normalizer==2.0.12
checksum==1.0.4
click==8.1.2
DateTime==4.4
dj-database-url==0.5.0
Django==4.0.3
django-crispy-forms==1.14.0
gunicorn==20.1.0
idna==3.3
mypy-extensions==0.4.3
pathspec==0.9.0
paytm==0.1.8
paytmchecksum==1.7.0
Pillow==9.1.0
platformdirs==2.5.1
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pycrypto==2.6.1
pycryptodome==3.14.1
PyJWT==2.3.0
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
twilio==7.9.0
typing-extensions==4.1.1
urllib3==1.26.9
whitenoise==6.1.0
yapf==0.32.0
zope.interface==5.4.0
